.el-table {
  .caret-wrapper {
    height: 21px;
  }

  .sort-caret.ascending {
    top: 0;
  }

  .sort-caret.descending {
    bottom: 0;
  }

  // 合并表头
  &.el-table--group.el-table--border {
    th {
      height: 20px;
      line-height: 20px;
      border-right: 1px solid #eefdff;
      border-bottom: 1px solid #eefdff;
      // border-right: none;
      // border-bottom: none;
    }
    td {
      height: 20px;
      line-height: 20px;
      border-right: 1px solid #eeeeee;
      // border-right: none;
    }
  }
  // 表头
  thead {
    color: #000000;
    font-weight: bold;

    &.is-group {
      tr,
      th {
        background: #eeeeee;
      }
    }

    tr,
    th {
      background: #eeeeee;
    }
  }

  // 当前行
  .current-row,
  .hover-row,
  .expanded {
    td {
      background: #eefdff !important;
      color: #000000;
      border-bottom: 1px solid #02bdd6;
    }
  }

  .el-table__body {
    margin-bottom: 1px;
  }

  &.el-table--mini th {
    border-right: 1px solid #eefdff;
    padding: 4px 0;
    height: 32px;
    line-height: 32px;
  }

  &.el-table--mini td {
    border-right: 1px solid #eeeeee;
    padding: 2px 0;
    height: 34px;
    line-height: 34px;
  }
}
