.layout.blue {
  /deep/ .kindo-card-search {
    margin: -20px -20px 16px -20px;
    background: linear-gradient(to top, #f2f3f8, #ffffff);
    box-shadow: 0 0 8px 0 rgb(10, 123, 197), 0 2px 4px 0 rgb(248, 249, 251);

    /deep/ .main {
      background: transparent;
    }
  }

  /deep/ .kindo-card {
    margin: 0 0 16px 0;

    .body .hr {
      display: none;
    }

    .header .wrapper .title {
      font-size: 16px;

      i {
        font-size: 20px;
      }
    }
  }
}
